---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Free Recipe Club." favicon="Pizza">
	<div class="relative max-w-5xl mx-auto pt-20 sm:pt-24 lg:pt-32">
		<div class="text-center text-slate-600 text-xl sm:text-2xl lg:text-3xl">
			<span class="text-2xl sm:text-3xl lg:text-4xl">[</span>Something delicious is <a
				href="https://en.wikipedia.org/wiki/Cooking"
				title="Wikipedia article for cooking"
				class="text-indigo-500 underline">cooking</a
			>]
		</div>
	</div>
</Layout>
