---
import Layout from "../layouts/Layout.astro";
import { Character } from "../components/Character";
---

<Layout title="Free Recipe Club." favicon="Pizza">
	<main>
		<h1
			class="text-6xl text-center pt-10 sm:px-5 sm:text-left transition-all duration-700 lg:text-7xl xl:text-8xl 2xl:text-9xl font-medium"
		>
			Something delicious <br /> is cooking
		</h1>
		<div
			class="absolute w-full sm:w-auto flex justify-center sm:right-10 bottom-10"
		>
			<Character client:load character="Soda" mood="Neutral" />
		</div>
	</main>
</Layout>
