---
import Layout from '../layouts/Layout.astro';
import { RecipeCard } from '../components/RecipeCard';
import fs from 'node:fs/promises';
import yaml from 'yaml';
import { Recipe } from '../interfaces/Recipe';

const file = await fs.readFile('./src/recipes/pumpkin_doughnut.yml', 'utf8');
const recipe = yaml.parse(file) as Recipe;
---

<Layout title="Recipes.">
	<main>
		<RecipeCard recipe={recipe} />
	</main>
</Layout>