---
import Layout from '../layouts/Layout.astro';
import { RecipeCard } from '../components/RecipeCard';
import fs from 'node:fs';
import yaml from 'yaml';
import { Recipe } from '../interfaces/Recipe';

const recipePath = './src/recipes/';
let recipes: Recipe[] = [];
const filenames = fs.readdirSync(recipePath);
filenames.forEach((filename) => {
	const file = fs.readFileSync(`${recipePath}${filename}`, 'utf8');
	const recipe = yaml.parse(file) as Recipe;
	recipes.push(recipe);
});
---

<Layout title="Recipes.">
	<main>
		{recipes.map((recipe) => (
			<RecipeCard recipe={recipe} />
		))}
	</main>
</Layout>