---
---

<header>
    <nav
        class="flex items-center justify-between h-20 px-3 sm:px-0 "
    >
        <a href="/" title="Your home for the freest recipes on the net" class="text-3xl font-medium">
            <span class="text-cyan-500">Free</span>
            <span class="text-emerald-500">Recipe</span>
            <span class="text-amber-500">Club.</span>
        </a>
        <div>
            <div class="hidden sm:flex space-x-3">
                <a
                    href="/blog"
                    title="Keep track of the latest developments cooking in the free world."
                    class="tracking-wide text-indigo-500 font-medium hover:text-indigo-600"
                >
                    Blog
                </a>
                <a
                    href="https://github.com/free-recipe-club/freerecipe.club"
                    title="Discover Free Recipe Club source code on GitHub 👾"
                    class="tracking-wide text-indigo-500 font-medium hover:text-indigo-600"
                >
                    GitHub
                </a>
            </div>
            <a href="/navigation" title="Site navigation links" class="sm:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-8 h-8 text-slate-600"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </a>
        </div>
    </nav>
</header>
